<!DOCTYPE html>
{% load static %}    
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/pro_style.css' %}">
    <script ></script>
    <title> Tinsae Debele</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
    <nav class='navigation'>
        <ul>
         
          <li class='list active' ">
            <a class="home" href='#home'>
              <span class='text'>Home</span>
              <span class='icon'><i class="bi bi-house-door"></i></span>
            </a>
          </li>
          <li class='list'>
            <a class="about"  href='#about'>
              <span class='text'>About</span>
              <span class='icon'><i class="bi bi-file-earmark-person"></i></span>
            </a>
          </li>
          <li class='list'>
            <a class="project" href='#project'>
              <span class='text'>Project</span>
              <span class='icon'><i class="bi bi-kanban"></i></span>
            </a>
          </li>
          <li class='list'>
            <a class='contact' href='#contact'>
              <span class='text'>Contact</span>
              <span class='icon'><i class="bi bi-person-lines-fill"></i></span>
            </a>
          </li> 
          <div class="indicator"></div>
        </ul>
    </nav>
      <div class="container">

        <!-- Home Section-->
        <div class="section" id="home">
          <div id="particles-js">
            <h1 class="name"><span>I</span>M<span>TINSAE</span> </h1>
          </div>

         </div>

        </div>

        <div class="section" id="about">
        </div>

        <!---Project Section-->
        <div class="section" id ="project">
          <div class="discover-page active">
      
            <div class="pane-container">
              <div class="pane" style="--j: 1">
                <h4>01</h4>
                <div class="txt-container">
                  <img src={%static "images/performance.gif"%} />
                  <h1>performance</h1>
                  <h3>- performance tracking</h3>
                  <span>Lorem ipsum dolor sit amet, adipisicing elit! </span>
                  <ul>
                    <li>Consectetur adipisicing facilis?</li>
                    <li>Sed earum in ex quos repellats?</li>
                    <li>At cum necessitatibus unde ut?</li>
                  </ul>
                </div>
              </div>
      
              <div class="pane" style="--j: 2">
                <h4>02</h4>
                <div class="txt-container">
                  <img src={%static "images/cloud-network.gif" %}/>
                  <h1>cloud services</h1>
                  <h3>- best cloud services providers</h3>
                  <span>Lorem ipsum dolor sit amet consectetur.</span>
                  <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Consectetur adipisicing facilis?</li>
                  </ul>
                </div>
              </div>
      
              <div class="pane" style="--j: 3">
                <h4>03</h4>
                <div class="txt-container">
                  <img src={%static "images/media.gif" %}/>
                  <h1>media</h1>
                  <h3>- media devices & personnels</h3>
                  <span>Lorem ipsum dolor, sit amet consectetur.</span>
                  <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Ab maiores eligendi animi at.</li>
                    <li>Fugiat voluptatem repellat.</li>
                  </ul>
                </div>
              </div>
      
              <div class="pane" style="--j: 4">
                <h4>04</h4>
                <div class="txt-container">
                  <img src={%static "images/security.gif" %}/>
                  <h1>security</h1>
                  <h3>- high security</h3>
                  <span
                    >Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span
                  >
                  <ul>
                    <li>Fugiat corporis voluptatem repellat.</li>
                  </ul>
                </div>
              </div>
      
              <div class="pane" style="--j: 5">
                <h4>05</h4>
                <div class="txt-container">
                  <img src={%static "images/tech-support.gif" %} />
                  <h1>tech-support</h1>
                  <h3>- support from experts</h3>
                  <span
                    >Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span
                  >
                  <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Consectetur adipisicing facilis?</li>
                    <li>Ab maiores eligendi animi at.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---Project Section-->
        <div class="section" id="contact">
            <div class="bubble">
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:24;"></span>
                <span style="--i:10;"></span>
                <span style="--i:14;"></span>
                <span style="--i:13;"></span>
                <span style="--i:18;"></span>
                <span style="--i:16;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
                <span style="--i:22;"></span>
                <span style="--i:25;"></span>
                <span style="--i:18;"></span>
                <span style="--i:21;"></span>
                <span style="--i:15;"></span>
                <span style="--i:13;"></span>
                <span style="--i:26;"></span>
                <span style="--i:17;"></span>
                <span style="--i:13;"></span>
                <span style="--i:28;"></span>
                <span style="--i:15;"></span>
                <span style="--i:13;"></span>
                <span style="--i:26;"></span>
                <span style="--i:17;"></span>
                <span style="--i:13;"></span>
                <span style="--i:28;"></span>
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:24;"></span>
                <span style="--i:10;"></span>
                <span style="--i:14;"></span>
  
            
            </div>
            <section>
              <div class="cont">
                <h2> Contact Me</h2>
              <div class="row100">
                <div class="col">
                  <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span class="text">First Name</span>
                    <span class="line"></span>
                  </div>
                </div>
                <div class="col">
                  <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span class="text">Last Name</span>
                    <span class="line"></span>
                  </div>
                </div>
              </div>
              <div class="row100">
                <div class="col">
                  <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span class="text">Email</span>
                    <span class="line"></span>
                  </div>
                </div>
                <div class="col">
                  <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span class="text">Mobile</span>
                    <span class="line"></span>
                  </div>
                </div>
              </div>

              <div class="row100">
                <div class="col"> 
                  <div class="inputBox textarea" >
                    <textarea required="required"></textarea>
                    <span class="text">Type Your Message Here ...</span>
                    <span class="line"></span>
                  </div>
                </div>
              </div>


              <div class="row100">
                <div class="col"> 
                  <input type="submit" value="send">
                </div>
              </div>
           </div>
            </section>
        </div>
    
      </div>
    <script src={% static 'js/style.js' %}> </script>
    <script src={% static 'js/particles.js' %} ></script>
    <script src={% static 'js/app.js' %} ></script>
</body>
</html>